    <div class="sidenav">
        <button class="darkLight">Dark</button>
        <button class="reseteazaDarkLight">original</button>
        
        
        <div class="filters"></div>
        <a href="#" class="filtru all" data-filter="all">All</a>
        <a href="#" class="filtru brianHerbert" data-filter="brianHerbert">Brian Herbert</a>
        <a href="#" class="filtru frankHerbert" data-filter="frankHerbert">Frank Herbert</a>
        <h2>Citite</h2>
        <ol class="lsCitit">
        </ol>
        <a href="#" class="elimina">Elimina</a>
        <p class="nrCitite"></p>
        <button class="reseteazaTot">reseteazaINFO</button>
    </div>