    <div class="sidenav">
        <a href="#">Shop</a>
        <a href="#">Cart</a>
        <div class="filters"></div>
        <a href="#" class="filtru" data-filter="all">All</a>
        <a href="#" class="filtru" data-filter="frankHerbert">Frank Herbert</a>
    </div>