<!DOCTYPE html>
<html lang = "ro">
<head>
    <script src="code.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>


    <div class="topnav">
        <input type="text" placeholder="Search...">
    </div>

    <!-- <%- include('./partials/sidebar'); %> -->

    <div class="main">
        <div class="produse">
            <div class="carte1">
                <img src="./images/carte1.jpg" ></img>
            </div>
            <div class="carte2">
                <img src="./images/carte2.jpg" ></img>
            </div>
            <div class="carte3">
                <img src="./images/carte3.jpg" ></img>
            </div>   
            <div class="carte4">
                <img src="./images/carte4.jpg"></img>
            </div>
            <div class="carte5">
                <img src="./images/carte5.jpg" ></img>
            </div>
            <div class="carte6">
                <img src="./images/carte6.jpg"></img>
            </div>
            <div class="carte7">
                <img src="./images/carte7.jpg"></img>
            </div>
            <div class="carte8">
                <img src="./images/carte8.jpg"></img>
            </div>   
            <div class="carte9">
                <img src="./images/carte9.jpg"></img>
            </div>
            <div class="carte10">
                <img src="./images/carte10.jpg"></img>
            </div>
            <div class="carte11">
                <img src="./images/carte11.jpg"></img>
            </div>
            <div class="carte12">
                <img src="./images/carte12.jpg"></img>
            </div>
            <div class="carte13">
                <img src="./images/carte13.jpg"></img>
            </div>   
            <div class="carte14">
                <img src="./images/carte14.jpg"></img>
            </div>
            <div class="carte15">
                <img src="./images/carte15.jpg"></img>
            </div>
            <div class="carte16">
                <img src="./images/carte16.jpg"></img>
            </div>
            <div class="carte17">
                <img src="./images/carte17.jpg"></img>
            </div>
            <div class="carte18">
                <img src="./images/carte18.jpg"></img>
            </div>   
            <div class="carte19">
                <img src="./images/carte19.jpg"></img>
            </div>
            <div class="carte20">
                <img src="./images/carte20.jpg"></img>
            </div>
            <div class="carte21">
                <img src="./images/carte21.jpg"></img>
            </div>
            <div class="carte22">
                <img src="./images/carte22.jpg"></img>
            </div>   
            <div class="carte23">
                <img src="./images/carte23.jpg"></img>
            </div>
        </div>
    </div>




</body>


</html>